# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [16]:
# import pandas
import pandas as pd
# create your data variabe using .read_csv 
IMDB = pd.read_csv("IMDB-Movie-Data.csv")
# create your data_indexed variable here
IMDB = pd.DataFrame(IMDB)
print(IMDB.head(15))

    Rank                                    Title                       Genre  \
0      1                  Guardians of the Galaxy     Action,Adventure,Sci-Fi
1      2                               Prometheus    Adventure,Mystery,Sci-Fi
2      3                                    Split             Horror,Thriller
3      4                                     Sing     Animation,Comedy,Family
4      5                            Suicide Squad    Action,Adventure,Fantasy
5      6                           The Great Wall    Action,Adventure,Fantasy
6      7                               La La Land          Comedy,Drama,Music
7      8                                 Mindhorn                      Comedy
8      9                       The Lost City of Z  Action,Adventure,Biography
9     10                               Passengers     Adventure,Drama,Romance
10    11  Fantastic Beasts and Where to Find Them    Adventure,Family,Fantasy
11    12                           Hidden Figures     Biography,Drama,History
12    13                                Rogue One     Action,Adventure,Sci-Fi
13    14                                    Moana  Animation,Adventure,Comedy
14    15                                 Colossal         Action,Comedy,Drama

                                          Description              Director  \
0   A group of intergalactic criminals are forced ...            James Gunn
1   Following clues to the origin of mankind, a te...          Ridley Scott
2   Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3   In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4   A secret government agency recruits some of th...            David Ayer
5   European mercenaries searching for black powde...           Yimou Zhang
6   A jazz pianist falls for an aspiring actress i...       Damien Chazelle
7   A has-been actor best known for playing the ti...            Sean Foley
8   A true-life drama, centering on British explor...            James Gray
9   A spacecraft traveling to a distant colony pla...         Morten Tyldum
10  The adventures of writer Newt Scamander in New...           David Yates
11  The story of a team of female African-American...        Theodore Melfi
12  The Rebel Alliance makes a risky move to steal...        Gareth Edwards
13  In Ancient Polynesia, when a terrible curse in...          Ron Clements
14  Gloria is an out-of-work party girl forced to ...       Nacho Vigalondo

                                               Actors  Year  \
0   Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1   Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2   James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3   Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4   Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
5       Matt Damon, Tian Jing, Willem Dafoe, Andy Lau  2016
6   Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....  2016
7   Essie Davis, Andrea Riseborough, Julian Barrat...  2016
8   Charlie Hunnam, Robert Pattinson, Sienna Mille...  2016
9   Jennifer Lawrence, Chris Pratt, Michael Sheen,...  2016
10  Eddie Redmayne, Katherine Waterston, Alison Su...  2016
11  Taraji P. Henson, Octavia Spencer, Janelle Mon...  2016
12  Felicity Jones, Diego Luna, Alan Tudyk, Donnie...  2016
13  Auli'i Cravalho, Dwayne Johnson, Rachel House,...  2016
14  Anne Hathaway, Jason Sudeikis, Austin Stowell,...  2016

    Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                 121     8.1  757074              333.13       76.0
1                 124     7.0  485820              126.46       65.0
2                 117     7.3  157606              138.12       62.0
3                 108     7.2   60545              270.32       59.0
4                 123     6.2  393727              325.02       40.0
5                 103     6.1   56036               45.13       42.0
6                 128     8.3  258682              151.06       93.0
7                  89     6.4    2490                 NaN       71.0
8                 141     7.1    7188                8.01       78.0
9                 116     7.0  192177              100.01       41.0
10                133     7.5  232072              234.02       66.0
11                127     7.8   93103              169.27       74.0
12                133     7.9  323118              532.17       65.0
13                107     7.7  118151              248.75       81.0
14                109     6.4    8612                2.87       70.0

In [ ]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [ ]:
# Read data with specified explicit index



#print(data_indexed)

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [18]:
# Use the head() function to view the first 5 rows of the data set
print(IMDB.head(5))
# This function returns the first (n) rows from the dataset.

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

In [17]:
# Use the tail() function to view the last 5 rows of the data set
print(IMDB.tail(5))

# This function returns the last (n) rows from the dataset.

     Rank                   Title                  Genre  \
995   996    Secret in Their Eyes    Crime,Drama,Mystery
996   997         Hostel: Part II                 Horror
997   998  Step Up 2: The Streets    Drama,Music,Romance
998   999            Search Party       Adventure,Comedy
999  1000              Nine Lives  Comedy,Family,Fantasy

                                           Description          Director  \
995  A tight-knit team of rising investigators, alo...         Billy Ray
996  Three American college students studying abroa...          Eli Roth
997  Romantic sparks occur between two dance studen...        Jon M. Chu
998  A pair of friends embark on a mission to reuni...    Scot Armstrong
999  A stuffy businessman finds himself trapped ins...  Barry Sonnenfeld

                                                Actors  Year  \
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating  Votes  Revenue (Millions)  Metascore
995                111     6.2  27585                 NaN       45.0
996                 94     5.5  73152               17.54       46.0
997                 98     6.2  70699               58.01       50.0
998                 93     5.6   4881                 NaN       22.0
999                 87     5.3  12435               19.64       11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [19]:
# The info() function: 
print(IMDB.info())

# This function returns info about the data in each column. 
# It specifically returns the number of columns, the name of each column, the number of non-null results in each column, and the data-type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB
None

In [24]:
# shape:
print(IMDB.shape)

# what information does shape provide?  what is the order?

#This function returns info about the size of the data frame. Specifically it returns the number of rows, then the number of columns.

(1000, 12)

In [26]:
# columns:
print(IMDB.columns)

# what information does columns provide?

# This function returns the names of the columns.

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [27]:
# The describe() function: 
print(IMDB.describe())

# The describe function returns a summary about each column. 
# It returns the count of results, the mean of each result, the standard deviation, the minimum result, the maximum result,
# the 1st, 2nd and 3rd quartiles.

              Rank         Year  Runtime (Minutes)       Rating         Votes  \
count  1000.000000  1000.000000        1000.000000  1000.000000  1.000000e+03
mean    500.500000  2012.783000         113.172000     6.723200  1.698083e+05
std     288.819436     3.205962          18.810908     0.945429  1.887626e+05
min       1.000000  2006.000000          66.000000     1.900000  6.100000e+01
25%     250.750000  2010.000000         100.000000     6.200000  3.630900e+04
50%     500.500000  2014.000000         111.000000     6.800000  1.107990e+05
75%     750.250000  2016.000000         123.000000     7.400000  2.399098e+05
max    1000.000000  2016.000000         191.000000     9.000000  1.791916e+06

       Revenue (Millions)   Metascore
count          872.000000  936.000000
mean            82.956376   58.985043
std            103.253540   17.194757
min              0.000000   11.000000
25%             13.270000   47.000000
50%             47.985000   59.500000
75%            113.715000   72.000000
max            936.630000  100.000000

### 4. Data Selection -- Indexing and Slicing

In [29]:
#  Extract data as series
# define and print the variable 'genre'
Genre = IMDB['Genre']
print(Genre)

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [30]:
# Extract the data as a dataframe and print it
Genre = pd.DataFrame(Genre)

print(Genre)

                        Genre
0     Action,Adventure,Sci-Fi
1    Adventure,Mystery,Sci-Fi
2             Horror,Thriller
3     Animation,Comedy,Family
4    Action,Adventure,Fantasy
..                        ...
995       Crime,Drama,Mystery
996                    Horror
997       Drama,Music,Romance
998          Adventure,Comedy
999     Comedy,Family,Fantasy

[1000 rows x 1 columns]

In [46]:
# Extract data using rows
# loc function
print(IMDB.loc[53])

Rank                                                                 54
Title                                                         John Wick
Genre                                             Action,Crime,Thriller
Description           An ex-hitman comes out of retirement to track ...
Director                                                 Chad Stahelski
Actors                Keanu Reeves, Michael Nyqvist, Alfie Allen, Wi...
Year                                                               2014
Runtime (Minutes)                                                   101
Rating                                                              7.2
Votes                                                            321933
Revenue (Millions)                                                 43.0
Metascore                                                          68.0
Name: 53, dtype: object

In [44]:
# iloc function
print(IMDB.iloc[53,3])

An ex-hitman comes out of retirement to track down the gangsters that took everything from him.

### 5. Data Selection - Based on Conditional Filtering

In [71]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
filtered_IMDB = IMDB[(IMDB['Year'] > 2009) & (IMDB['Year'] < 2017) & (IMDB['Rating'] < 6.0)]
films_2010_to_2016_sort_by_earnings = filtered_IMDB.sort_values(by = 'Revenue (Millions)', ascending=False)
top_10_biggest_earners_2010_to_2016 = films_2010_to_2016_sort_by_earnings.head(10)

print(top_10_biggest_earners_2010_to_2016)

     Rank                                      Title  \
941   942                 The Twilight Saga: Eclipse
366   367  The Twilight Saga: Breaking Dawn - Part 2
925   926  The Twilight Saga: Breaking Dawn - Part 1
126   127            Transformers: Age of Extinction
657   658               Teenage Mutant Ninja Turtles
63     64                       Fifty Shades of Grey
575   576                        Clash of the Titans
394   395                                Grown Ups 2
580   581                       Kickboxer: Vengeance
79     80                               Ghostbusters

                        Genre  \
941   Adventure,Drama,Fantasy
366   Adventure,Drama,Fantasy
925   Adventure,Drama,Fantasy
126   Action,Adventure,Sci-Fi
657   Action,Adventure,Comedy
63     Drama,Romance,Thriller
575  Action,Adventure,Fantasy
394                    Comedy
580                    Action
79      Action,Comedy,Fantasy

                                           Description            Director  \
941  As a string of mysterious killings grips Seatt...         David Slade
366  After the birth of Renesmee, the Cullens gathe...         Bill Condon
925  The Quileutes close in on expecting parents Ed...         Bill Condon
126  Autobots must escape sight from a bounty hunte...         Michael Bay
657  When a kingpin threatens New York City, a grou...  Jonathan Liebesman
63   Literature student Anastasia Steele's life cha...  Sam Taylor-Johnson
575  Perseus demigod, son of Zeus, battles the mini...     Louis Leterrier
394  After moving his family back to his hometown t...        Dennis Dugan
580         A kick boxer is out to avenge his brother.      John Stockwell
79   Following a ghost invasion of Manhattan, paran...           Paul Feig

                                                Actors  Year  \
941  Kristen Stewart, Robert Pattinson, Taylor Laut...  2010
366  Kristen Stewart, Robert Pattinson, Taylor Laut...  2012
925  Kristen Stewart, Robert Pattinson, Taylor Laut...  2011
126  Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...  2014
657  Megan Fox, Will Arnett, William Fichtner, Noel...  2014
63   Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...  2015
575  Sam Worthington, Liam Neeson, Ralph Fiennes,Ja...  2010
394  Adam Sandler, Kevin James, Chris Rock, David S...  2013
580  Dave Bautista, Alain Moussi, Gina Carano, Jean...  2016
79   Melissa McCarthy, Kristen Wiig, Kate McKinnon,...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
941                124     4.9  192740              300.52       58.0
366                115     5.5  194329              292.30       52.0
925                117     4.9  190244              281.28       45.0
126                165     5.7  255483              245.43       32.0
657                101     5.9  178527              190.87       31.0
63                 125     4.1  244474              166.15       46.0
575                106     5.8  238206              163.19       39.0
394                101     5.4  114482              133.67       19.0
580                 90     4.9    6809              131.56       37.0
79                 116     5.3  147717              128.34       60.0

In [51]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?