# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [198]:
# import pandas
import pandas as pd
# create your data variabe using .read_csv 
IMDB = pd.read_csv('IMDB-Movie-Data.csv')
# create your data_indexed variable here
IMDB = pd.DataFrame(IMDB)
print(IMDB.head(15))

NameError: name 'df' is not defined

In [184]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [185]:
# Read data with specified explicit index
IMDB = IMDB.set_index('Rank')
print(IMDB)
#print(data_indexed)

                        Title                     Genre  \
Rank
1     Guardians of the Galaxy   Action,Adventure,Sci-Fi
2                  Prometheus  Adventure,Mystery,Sci-Fi
3                       Split           Horror,Thriller
4                        Sing   Animation,Comedy,Family
5               Suicide Squad  Action,Adventure,Fantasy
...                       ...                       ...
996      Secret in Their Eyes       Crime,Drama,Mystery
997           Hostel: Part II                    Horror
998    Step Up 2: The Streets       Drama,Music,Romance
999              Search Party          Adventure,Comedy
1000               Nine Lives     Comedy,Family,Fantasy

                                            Description              Director  \
Rank
1     A group of intergalactic criminals are forced ...            James Gunn
2     Following clues to the origin of mankind, a te...          Ridley Scott
3     Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
4     In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
5     A secret government agency recruits some of th...            David Ayer
...                                                 ...                   ...
996   A tight-knit team of rising investigators, alo...             Billy Ray
997   Three American college students studying abroa...              Eli Roth
998   Romantic sparks occur between two dance studen...            Jon M. Chu
999   A pair of friends embark on a mission to reuni...        Scot Armstrong
1000  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                 Actors  Year  \
Rank
1     Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
2     Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
3     James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
4     Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
5     Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
...                                                 ...   ...
996   Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
997   Lauren German, Heather Matarazzo, Bijou Philli...  2007
998   Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
999   Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
1000  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

      Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
Rank
1                   121     8.1  757074              333.13       76.0
2                   124     7.0  485820              126.46       65.0
3                   117     7.3  157606              138.12       62.0
4                   108     7.2   60545              270.32       59.0
5                   123     6.2  393727              325.02       40.0
...                 ...     ...     ...                 ...        ...
996                 111     6.2   27585                 NaN       45.0
997                  94     5.5   73152               17.54       46.0
998                  98     6.2   70699               58.01       50.0
999                  93     5.6    4881                 NaN       22.0
1000                 87     5.3   12435               19.64       11.0

[1000 rows x 11 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [186]:
# Use the head() function to view the first 5 rows of the data set
print(IMDB.head(5))
# This function returns the first (n) rows from the dataset.

                        Title                     Genre  \
Rank
1     Guardians of the Galaxy   Action,Adventure,Sci-Fi
2                  Prometheus  Adventure,Mystery,Sci-Fi
3                       Split           Horror,Thriller
4                        Sing   Animation,Comedy,Family
5               Suicide Squad  Action,Adventure,Fantasy

                                            Description              Director  \
Rank
1     A group of intergalactic criminals are forced ...            James Gunn
2     Following clues to the origin of mankind, a te...          Ridley Scott
3     Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
4     In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
5     A secret government agency recruits some of th...            David Ayer

                                                 Actors  Year  \
Rank
1     Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
2     Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
3     James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
4     Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
5     Will Smith, Jared Leto, Margot Robbie, Viola D...  2016

      Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
Rank
1                   121     8.1  757074              333.13       76.0
2                   124     7.0  485820              126.46       65.0
3                   117     7.3  157606              138.12       62.0
4                   108     7.2   60545              270.32       59.0
5                   123     6.2  393727              325.02       40.0

In [187]:
# Use the tail() function to view the last 5 rows of the data set
print(IMDB.tail(5))

# This function returns the last (n) rows from the dataset.

                       Title                  Genre  \
Rank
996     Secret in Their Eyes    Crime,Drama,Mystery
997          Hostel: Part II                 Horror
998   Step Up 2: The Streets    Drama,Music,Romance
999             Search Party       Adventure,Comedy
1000              Nine Lives  Comedy,Family,Fantasy

                                            Description          Director  \
Rank
996   A tight-knit team of rising investigators, alo...         Billy Ray
997   Three American college students studying abroa...          Eli Roth
998   Romantic sparks occur between two dance studen...        Jon M. Chu
999   A pair of friends embark on a mission to reuni...    Scot Armstrong
1000  A stuffy businessman finds himself trapped ins...  Barry Sonnenfeld

                                                 Actors  Year  \
Rank
996   Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
997   Lauren German, Heather Matarazzo, Bijou Philli...  2007
998   Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
999   Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
1000  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

      Runtime (Minutes)  Rating  Votes  Revenue (Millions)  Metascore
Rank
996                 111     6.2  27585                 NaN       45.0
997                  94     5.5  73152               17.54       46.0
998                  98     6.2  70699               58.01       50.0
999                  93     5.6   4881                 NaN       22.0
1000                 87     5.3  12435               19.64       11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [188]:
# The info() function: 
print(IMDB.info())

# This function returns info about the data in each column. 
# It specifically returns the number of columns, the name of each column, the number of non-null results in each column, and the data-type.

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               1000 non-null   object
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 93.8+ KB
None

In [189]:
# shape:
print(IMDB.shape)

# what information does shape provide?  what is the order?

#This function returns info about the size of the data frame. Specifically it returns the number of rows, then the number of columns.

(1000, 11)

In [190]:
# columns:
print(IMDB.columns)

# what information does columns provide?

# This function returns the names of the columns.

Index(['Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [191]:
# The describe() function: 
print(IMDB.describe())

# The describe function returns a summary about each column. 
# It returns the count of results, the mean of each result, the standard deviation, the minimum result, the maximum result,
# the 1st, 2nd and 3rd quartiles.

              Year  Runtime (Minutes)       Rating         Votes  \
count  1000.000000        1000.000000  1000.000000  1.000000e+03
mean   2012.783000         113.172000     6.723200  1.698083e+05
std       3.205962          18.810908     0.945429  1.887626e+05
min    2006.000000          66.000000     1.900000  6.100000e+01
25%    2010.000000         100.000000     6.200000  3.630900e+04
50%    2014.000000         111.000000     6.800000  1.107990e+05
75%    2016.000000         123.000000     7.400000  2.399098e+05
max    2016.000000         191.000000     9.000000  1.791916e+06

       Revenue (Millions)   Metascore
count          872.000000  936.000000
mean            82.956376   58.985043
std            103.253540   17.194757
min              0.000000   11.000000
25%             13.270000   47.000000
50%             47.985000   59.500000
75%            113.715000   72.000000
max            936.630000  100.000000

### 4. Data Selection -- Indexing and Slicing

In [192]:
#  Extract data as series
# define and print the variable 'genre'
Genre = IMDB['Genre']
print(Genre)
# OR
Genre = IMDB.loc[:,'Genre']
print(Genre)

Rank
1        Action,Adventure,Sci-Fi
2       Adventure,Mystery,Sci-Fi
3                Horror,Thriller
4        Animation,Comedy,Family
5       Action,Adventure,Fantasy
                  ...
996          Crime,Drama,Mystery
997                       Horror
998          Drama,Music,Romance
999             Adventure,Comedy
1000       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object
Rank
1        Action,Adventure,Sci-Fi
2       Adventure,Mystery,Sci-Fi
3                Horror,Thriller
4        Animation,Comedy,Family
5       Action,Adventure,Fantasy
                  ...
996          Crime,Drama,Mystery
997                       Horror
998          Drama,Music,Romance
999             Adventure,Comedy
1000       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [193]:
# Extract the data as a dataframe and print it
Genre = pd.DataFrame(Genre)

print(Genre)

                         Genre
Rank
1      Action,Adventure,Sci-Fi
2     Adventure,Mystery,Sci-Fi
3              Horror,Thriller
4      Animation,Comedy,Family
5     Action,Adventure,Fantasy
...                        ...
996        Crime,Drama,Mystery
997                     Horror
998        Drama,Music,Romance
999           Adventure,Comedy
1000     Comedy,Family,Fantasy

[1000 rows x 1 columns]

In [194]:
# Extract data using rows
# loc function
print(IMDB.loc[53])

Title                                                      Mother's Day
Genre                                                      Comedy,Drama
Description           Three generations come together in the week le...
Director                                                 Garry Marshall
Actors                Jennifer Aniston, Kate Hudson, Julia Roberts, ...
Year                                                               2016
Runtime (Minutes)                                                   118
Rating                                                              5.6
Votes                                                             20221
Revenue (Millions)                                                32.46
Metascore                                                          18.0
Name: 53, dtype: object

In [195]:
# iloc function
print(IMDB.iloc[53,2])

An ex-hitman comes out of retirement to track down the gangsters that took everything from him.

### 5. Data Selection - Based on Conditional Filtering

In [196]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
filtered_IMDB = IMDB[(IMDB['Year'] > 2009) & (IMDB['Year'] < 2017) & (IMDB['Rating'] < 6.0)]
films_2010_to_2016_sort_by_earnings = filtered_IMDB.sort_values(by = 'Revenue (Millions)', ascending=False)
top_10_biggest_earners_2010_to_2016 = films_2010_to_2016_sort_by_earnings.head(10)

print(top_10_biggest_earners_2010_to_2016)

                                          Title                     Genre  \
Rank
942                  The Twilight Saga: Eclipse   Adventure,Drama,Fantasy
367   The Twilight Saga: Breaking Dawn - Part 2   Adventure,Drama,Fantasy
926   The Twilight Saga: Breaking Dawn - Part 1   Adventure,Drama,Fantasy
127             Transformers: Age of Extinction   Action,Adventure,Sci-Fi
658                Teenage Mutant Ninja Turtles   Action,Adventure,Comedy
64                         Fifty Shades of Grey    Drama,Romance,Thriller
576                         Clash of the Titans  Action,Adventure,Fantasy
395                                 Grown Ups 2                    Comedy
581                        Kickboxer: Vengeance                    Action
80                                 Ghostbusters     Action,Comedy,Fantasy

                                            Description            Director  \
Rank
942   As a string of mysterious killings grips Seatt...         David Slade
367   After the birth of Renesmee, the Cullens gathe...         Bill Condon
926   The Quileutes close in on expecting parents Ed...         Bill Condon
127   Autobots must escape sight from a bounty hunte...         Michael Bay
658   When a kingpin threatens New York City, a grou...  Jonathan Liebesman
64    Literature student Anastasia Steele's life cha...  Sam Taylor-Johnson
576   Perseus demigod, son of Zeus, battles the mini...     Louis Leterrier
395   After moving his family back to his hometown t...        Dennis Dugan
581          A kick boxer is out to avenge his brother.      John Stockwell
80    Following a ghost invasion of Manhattan, paran...           Paul Feig

                                                 Actors  Year  \
Rank
942   Kristen Stewart, Robert Pattinson, Taylor Laut...  2010
367   Kristen Stewart, Robert Pattinson, Taylor Laut...  2012
926   Kristen Stewart, Robert Pattinson, Taylor Laut...  2011
127   Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...  2014
658   Megan Fox, Will Arnett, William Fichtner, Noel...  2014
64    Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...  2015
576   Sam Worthington, Liam Neeson, Ralph Fiennes,Ja...  2010
395   Adam Sandler, Kevin James, Chris Rock, David S...  2013
581   Dave Bautista, Alain Moussi, Gina Carano, Jean...  2016
80    Melissa McCarthy, Kristen Wiig, Kate McKinnon,...  2016

      Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
Rank
942                 124     4.9  192740              300.52       58.0
367                 115     5.5  194329              292.30       52.0
926                 117     4.9  190244              281.28       45.0
127                 165     5.7  255483              245.43       32.0
658                 101     5.9  178527              190.87       31.0
64                  125     4.1  244474              166.15       46.0
576                 106     5.8  238206              163.19       39.0
395                 101     5.4  114482              133.67       19.0
581                  90     4.9    6809              131.56       37.0
80                  116     5.3  147717              128.34       60.0

In [197]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?